.header {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
}
.header .navbar-toogle-label {
  display: none;
}
.header .container-dotted-line {
  width: 21.5rem;
  height: 12rem;
  margin-inline-start: 4rem;
}
.header .icon-logo-vango {
  font-size: 6.2rem;
}

/* Colores nuevos de las marcas */
/************************************/
/********    NAVBAR LARGE    ********/
/************************************/
.navbar {
  grid-column: 2/-1;
  width: -moz-max-content;
  width: max-content;
  height: -moz-min-content;
  height: min-content;
  justify-self: end;
  background-color: #ffffff;
  border-radius: 100vw 0 0 100vw;
  inset: initial;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}
.navbar__menu {
  grid-auto-flow: column;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  padding: 0.4rem 2rem;
  height: auto;
}
.navbar__link {
  font-size: 1.6rem;
  font-weight: 600;
  color: #989898;
}
.navbar__link:hover {
  color: #e3740e;
}