/******************************/
/********    BASE      ********/
/******************************/
/**************************************/
/****            RESET             ****/
/**************************************/
/* Box sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Reset margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set up the HTML */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Deactivate auto-enlargement of small text in Safari */
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set up the body */
body {
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100dvh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img,
svg,
picture,
video,
iframe {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

/* Make from element easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Set up the selector of the text */
/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::after,
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Setting mode dark for people that having active it mode */
/* Setting mode high contrast for people that havind actived it mode */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-variable-font_wght.ttf") format("ttf");
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-italic-variable-font_wght.ttf") format("ttf");
  font-style: italic;
  font-weight: 100 1000;
  font-display: swap;
}
html {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  max-width: 75ch;
}

h1,
.h1 {
  font-size: clamp(5.6rem, 5.0331rem + 1.5748vw, 7.2rem);
}

h2,
.h2 {
  font-size: clamp(4.8rem, 4.2331rem + 1.5748vw, 6.4rem);
}

h3,
.h3 {
  font-size: clamp(4rem, 3.4331rem + 1.5748vw, 5.6rem);
}

h4,
.h4 {
  font-size: clamp(3.6rem, 3.1748rem + 1.1811vw, 4.8rem);
}

/******************************/
/********    ATOMS     ********/
/******************************/
/******************************/
/********   BUTTONS    ********/
/******************************/
.button--link, .button--tertiary, .button--secondary, .button--primary {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  font-size: 1.8rem;
  padding: 0.4rem 1.6rem;
  line-height: 2.6rem;
  border: 0.5px solid transparent;
  border-radius: 0.8rem;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}
.button--link > svg, .button--tertiary > svg, .button--secondary > svg, .button--primary > svg {
  width: 2.4rem;
  height: 2.4rem;
}
.button--link > span, .button--tertiary > span, .button--secondary > span, .button--primary > span {
  width: 2.4rem;
  height: 2.4rem;
}

.button--primary {
  color: #ffffff;
  background-color: #c33668;
}
.button--primary:hover {
  color: #ffffff;
  background-color: #ba2359;
}
.button--primary:active {
  color: #ffffff;
  background-color: #980338;
}
.button--primary:focus-visible {
  color: #ffffff;
  background-color: #980338;
}
.button--primary:disabled {
  color: #ffffff;
  background-color: #d6799a;
}

.button--secondary {
  color: #ffffff;
  background-color: #f89c49;
}
.button--secondary:hover {
  color: #ffffff;
  background-color: #f3933c;
}
.button--secondary:active {
  color: #ffffff;
  background-color: #e3740e;
}
.button--secondary:focus-visible {
  color: #ffffff;
  background-color: #f3933c;
}
.button--secondary:disabled {
  color: #ffffff;
  background-color: #f4be8d;
}

.button--tertiary {
  color: #ffffff;
  background-color: #0c8d7b;
}
.button--tertiary:hover {
  color: #ffffff;
  background-color: #027a69;
}
.button--tertiary:active {
  color: #ffffff;
  background-color: #04554a;
}
.button--tertiary:focus-visible {
  color: #ffffff;
  background-color: #027a69;
}
.button--tertiary:disabled {
  color: #ffffff;
  background-color: #4dab9e;
}

.button--link {
  color: #980338;
  background-color: #ffffff;
}
.button--link:hover {
  color: #980338;
  background-color: #e5e5e5;
}
.button--link:active {
  color: #980338;
  background-color: #c5c5c5;
}
.button--link:focus-visible {
  color: #980338;
  background-color: #ffffff;
}
.button--link:disabled {
  color: #980338;
  background-color: #c5c5c5;
}
.button--link:hover {
  text-decoration: underline;
}

/******************************/
/********  COMPONENTS  ********/
/******************************/
/******************************/
/********    LAYOUT    ********/
/******************************/
section {
  width: min(120rem, 100% - 4rem);
  margin-inline: auto;
}

/******************************/
/********    PAGES     ********/
/******************************/
/******************************/
/********   UTILITIES  ********/
/******************************/
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.visibility--hidden {
  visibility: hidden;
}/*# sourceMappingURL=main.css.map */