@use "sass:math";
@use "../base/spacing";

@mixin flex-x {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-y {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* Crear espacios para los padding y margin */

@each $model in spacing.$models-spacing {
  $key: margin;
  @if ($model == "p") {
    $key: padding;
  }
  @each $orientation, $direction in spacing.$directions {
    @each $number, $space in spacing.$spacing {
      .#{$model}#{$orientation}-#{$number} {
        #{$key}-#{$direction}: #{$space};
      }
    }
  }
}
