.text-center {
  text-align: center;
}

.text-balance {
  text-wrap: balance;
}

.uppercase {
  text-transform: uppercase;
}

.fw-600 {
  font-weight: 600;
}

.rounded {
  border-radius: 100vw;
}

.hidden {
  display: none;
}

.visibility--hidden {
  visibility: hidden;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify-normal {
  justify-content: normal;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.col-span-full {
  grid-column: 1/-1;
}

.col-start-2 {
  grid-column-start: 2; 
}

@include class-color-and-background ($clr-magenta, "magenta");
@include class-color-and-background ($clr-black, "black");
@include class-color-and-background ($clr-orange, "orange");
@include class-color-and-background ($clr-blue, "blue");
@include class-color-and-background ($clr-green, "green");
@include class-color-and-background ($clr-main);