@use "../utilities/mixins";

body {
  background-color: $clr-bg-main;
}

main {
  scroll-margin-block-start: 7.2rem;
  
  > section {
    @include mixins.max-width;
  }

}

.container-dotted-line {
  position: relative;
  background-color: var(--bg-color, #ffffff);
  border-radius: var(--corner-top-left-x, 10%) var(--corner-top-right-x, 10%)
    var(--corner-bottom-right-x, 10%) var(--corner-bottom-left-x, 10%) /
    var(--corner-top-left-y, 20%) var(--corner-top-right-y, 20%)
    var(--corner-bottom-right-y, 20%) var(--corner-bottom-left-y, 20%);
}

.container-dotted-line::after {
  content: "";
  position: absolute;
  inset: -0.4rem;
  width: 100%;
  height: 100%;
  border: $border-2 dashed map-get($clr-black, 40);
  border-radius: inherit;
}
