$clr-primary: #980338;
$clr-secondary: #f3933c;
$clr-tertiary: #027a69;
$clr-neutro: #ffffff;

$clr-main: (
  primary: $clr-primary,
  secondary: $clr-secondary,
  tertiary: $clr-tertiary,
  neutro: $clr-neutro
);

$clr-magenta: (
  0: #e4d9dd,
  5: #e1c2cd,
  10: #e9b6c8,
  20: #e297b2,
  30: #d6799a,
  40: #cf6087,
  50: #cc4776,
  60: #c33668,
  70: #ba2359,
  80: #ae0441,
  90: #980338,
);

$clr-black: (
  0: #ffffff,
  5: #eaeaea,
  10: #e5e5e5,
  20: #d6d6d6,
  30: #c5c5c5,
  40: #b0b0b0,
  50: #989898,
  60: #7d7d7d,
  70: #5d5d5d,
  80: #393939,
  90: #151515,
);

$clr-orange: (
  0: #fff3e9,
  5: #fee8d5,
  10: #fadbbf,
  20: #fbcfa7,
  30: #f4be8d,
  40: #f5af6f,
  50: #f0a15a,
  60: #f89c49,
  70: #f3933c,
  80: #f08320,
  90: #e3740e,
);

$clr-blue: (
  0: #dce3fb,
  5: #dce3fb,
  10: #c2c9e4,
  20: #a5adcf,
  30: #8790b7,
  40: #6d78a4,
  50: #525d87,
  60: #37426b,
  70: #273259,
  80: #162147,
  90: #0e183a,
);

$clr-green: (
  0: #e5fcf9,
  5: #c0ede7,
  10: #8fd4cb,
  20: #6dc0b5,
  30: #4dab9e,
  40: #329b8c,
  50: #1d9685,
  60: #0c8d7b,
  70: #027a69,
  80: #046b5d,
  90: #04554a,
);

$clr-error: #e35c5c;
$clr-alert: #f6ff51;
$clr-info: #3e7ff8;
$clr-success: #39ff7e;

/* Colores nuevos de las marcas */

$clr-logo-1: #f4ac4b;
$clr-logo-2: #ee8b46;
$clr-logo-3: #e8673d;
$clr-logo-4: #c11246;
$clr-logo-5: #9a1238;
$clr-logo-6: #5e0a1e;

$clr-logo-7: #84c6c2;
$clr-logo-8: #007767;
$clr-logo-9: #074152;
$clr-logo-10: #062d3c;
$clr-logo-11: #1e2c55;
$clr-logo-12: #0e1647;

$rounded: 0.8rem;
$rounded-md: 1.6rem;
$rounded-full: 50%;

$clr-border: black;

$border-1: 0.5px;
$border-2: 1.6px;

$drops-shadows: (
  "drop-shadow-1": (
    filter: drop-shadow(0 0.7rem 0.32rem rgb(0, 0, 0, 10%)),
  ),
  "drop-shadow-2": (
    filter: drop-shadow(0 0.2rem 0.2rem rgb(0, 0, 0, 25%)),
  ),
  "drop-shadow-3": (
    filter: drop-shadow(0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 20%)),
  ),
);

$breakpoints: (
  "small": (
    min-width: 640px,
  ),
  "medium": (
    min-width: 768px,
  ),
  "large": (
    min-width: 1024px,
  ),
  "large-x": (
    min-width: 1280px,
  ),
  "large-xx": (
    min-width: 1536px,
  ),
);
