$clr-primary: #980338;
$clr-secondary: #f3933c;
$clr-tertiary: #027a69;
$clr-neutro: #ffffff;

$clr-magenta-0: #e4d9dd;
$clr-magenta-5: #e1c2cd;
$clr-magenta-10: #e9b6c8;
$clr-magenta-20: #e297b2;
$clr-magenta-30: #d6799a;
$clr-magenta-40: #cf6087;
$clr-magenta-50: #cc4776;
$clr-magenta-60: #c33668;
$clr-magenta-70: #ba2359;
$clr-magenta-80: #ae0441;
$clr-magenta-90: #980338;

$clr-black-0: #ffffff;
$clr-black-5: #eaeaea;
$clr-black-10: #e5e5e5;
$clr-black-20: #d6d6d6;
$clr-black-30: #c5c5c5;
$clr-black-40: #b0b0b0;
$clr-black-50: #989898;
$clr-black-60: #7d7d7d;
$clr-black-70: #5d5d5d;
$clr-black-80: #393939;
$clr-black-90: #151515;

$clr-orange-0: #fff3e9;
$clr-orange-5: #fee8d5;
$clr-orange-10: #fadbbf;
$clr-orange-20: #fbcfa7;
$clr-orange-30: #f4be8d;
$clr-orange-40: #f5af6f;
$clr-orange-50: #f0a15a;
$clr-orange-60: #f89c49;
$clr-orange-70: #f3933c;
$clr-orange-80: #f08320;
$clr-orange-90: #e3740e;

$clr-blue-0: #dce3fb;
$clr-blue-5: #dce3fb;
$clr-blue-10: #c2c9e4;
$clr-blue-20: #a5adcf;
$clr-blue-30: #8790b7;
$clr-blue-40: #6d78a4;
$clr-blue-50: #525d87;
$clr-blue-60: #37426b;
$clr-blue-70: #273259;
$clr-blue-80: #162147;
$clr-blue-90: #0e183a;

$clr-green-0: #e5fcf9;
$clr-green-5: #c0ede7;
$clr-green-10: #8fd4cb;
$clr-green-20: #6dc0b5;
$clr-green-30: #4dab9e;
$clr-green-40: #329b8c;
$clr-green-50: #1d9685;
$clr-green-60: #0c8d7b;
$clr-green-70: #027a69;
$clr-green-80: #046b5d;
$clr-green-90: #04554a;

$clr-error: #e35c5c;
$clr-alert: #f6ff51;
$clr-info: #3e7ff8;
$clr-success: #39ff7e;

$rounded: 0.8rem;
$rounded-md: 1.6rem;
$rounded-full: 50%;

$clr-border: black;

$border-1: 0.5px;
$border-2: 1.5px;

$breakpoints: (
    'small': (min-width: 576px), 
    'medium': (min-width: 1000px), 
    'large': (min-width: 1200px)
)