@import '../utilities/mixins';

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-variable-font_wght.ttf") format("ttf");
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-italic-variable-font_wght.ttf") format("ttf");
  font-style: italic;
  font-weight: 100 1000;
  font-display: swap;
}

$fs-5xl: 7.2rem;
$fs-4xl: 6.4rem;
$fs-3xl: 5.6rem;
$fs-2xl: 4.8rem;
$fs-xl: 4rem;
$fs-l: 3.6rem;
$fs-m: 3.2rem;
$fs-s: 2.8rem;
$fs-xs: 2.4rem;
$fs-2xs: 2rem;
$fs-3xs: 1.8rem;

$fs-base: 2rem;

$fs-btn: $fs-3xs;

$font-stack: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;

html {
  font-family: $font-stack;
  // font-size: $fs-base;
}

// El font-size del HTML es 62.5% para trabajar con REM
// La equivalencia es 1rem = 10px
$min-width-rem: 36rem;
$max-width-rem: 137.6rem;

p {
  // max-width: 75ch;
  font-size: $fs-base;
}

h1,
.h1 {
  @include clamp-builder-font($min-width-rem, $max-width-rem, $fs-3xl, $fs-5xl);
}

h2,
.h2 {
  @include clamp-builder-font($min-width-rem, $max-width-rem, $fs-2xl, $fs-4xl);
}

h3,
.h3 {
  @include clamp-builder-font($min-width-rem, $max-width-rem, $fs-xl, $fs-3xl);
}

h4,
.h4 {
  @include clamp-builder-font($min-width-rem, $max-width-rem, $fs-l, $fs-2xl);
}